<div class="main-div">
  <div class="content">
    <img
      class="vs-logo"
      src="https://imgur.com/x7MDDNa.png"
      alt="Verma Siyaahi"
    />
    <div class="empty-space"></div>
    <div class="cmng-soon">
      <div class="title">Coming Soon</div>
      <div class="soon-desc">
        vermasiyaahi.in is currently in development & will be coming soon
      </div>
    </div>
    
    <div class="details">
      <div class="address">
        SCO 414, I & II Floor <br>
        Sector 8, Panchkula
        <div class="small-label">
          Above SBI bank
        </div>
      </div>
      <div class="contact">
        95010 71330 <br>
        90410 91330
      </div>
    </div>
  </div>
</div>
